.game.minesweeper .beginner .controls {
  margin-left: 76px;
}

.game.minesweeper .controls {
  margin: 10px 15px;
}

.game.minesweeper .controls .pure-button {
  font-size: 25px;
  padding: 0 12px;
  margin: 0 10px;
  border: 1px solid #ccc;
}

.game.minesweeper .score,
.game.minesweeper .clock {
  background-color: black;
  color: red;
  width: 70px;
  height: 35px;
  border: 1px solid grey;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

.game.minesweeper .square.covered,
.game.minesweeper .square.flagged {
  border: 3px solid #ccc;
  border-color: #ccc #777 #777 #ccc;
}

.game.minesweeper .square.uncovered,
.game.minesweeper .square.peek,
.game.minesweeper .square.incorrect {
  border: 1px solid #ccc;
  padding: 2px;
}

.game.minesweeper .square.uncovered {
  color: #f1eed3;
}

.game.minesweeper .square.peek {
  background-color: #ddd;
}

.game.minesweeper .beginner .square {
  width: 35px;
  height: 35px;
  font-size: 30px;
}

.game.minesweeper .intermediate .square {
  width: 30px;
  height: 30px;
  font-size: 25px;
}

.game.minesweeper .advanced .square {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.game.minesweeper .square.exploded-mine {
  background-color: red;
}

.game.minesweeper .square.touching1 {
  color: blue;
}

.game.minesweeper .square.touching2 {
  color: green;
}

.game.minesweeper .square.touching3 {
  color: red;
}

.game.minesweeper .square.touching4 {
  color: purple;
}

.game.minesweeper .square.touching5 {
  color: brown;
}

.game.minesweeper .square.touching6 {
  color: turquoise;
}

.game.minesweeper .square.touching7 {
  color: tomato;
}

.game.minesweeper .square.touching8 {
  color: orange;
}
